<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NuGet.Common" version="6.7.0" targetFramework="net472" />
  <package id="NuGet.Configuration" version="6.7.0" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="6.7.0" targetFramework="net472" />
  <package id="NuGet.Packaging" version="6.7.0" targetFramework="net472" />
  <package id="NuGet.Versioning" version="6.7.0" targetFramework="net472" />
</packages>